


<div class="row">    
    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns" >
      
      
      <%= render :template => 'discipleships/index' %><hr />
      <%= render :template => 'generals/index' %><hr />
      <%= render :template => 'men/index' %><hr />
      <%= render :template => 'women/index' %><hr />
      <%= render :template => 'singles/index' %><hr />
      <%= render :template => 'evangelisms/index' %><hr />
      <%= render :template => 'apologetics/index' %><hr />
      <%= render :template => 'postmodernisms/index' %><hr />
    </div>
    </div>
