<div class="row">     
   <div class="large-9 push-3 columns" >
 
<h1>New book</h1>


<%= form_for(@evangelism) do |f| %>
  <% if @evangelism.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evangelism.errors.count, "error") %> prohibited this evangelism from being saved:</h2>

      <ul>
      <% @evangelism.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <h3> New Book </h3>
    
Title:   <%= f.text_field :title %>  
Author:  <%= f.text_field :author %>
Publisher: <%= f.text_field :publisher %>
Year:  <%= f.number_field :year %>
More: <%= f.text_area :more %>
  </div>
  <div class="actions">
    <%= f.submit "New Book" %>
  </div>

<% end %>
<%= link_to "Back", reading_list_path %>
   </div>
 </div>
