<div class="row">     
   <div class="large-9 push-3 columns" >
 

<p>
  <strong>Title:</strong>
  <%= @postmodernism.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @postmodernism.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @postmodernism.publisher %>
</p>

<p>
  <strong>Year:</strong>
  <%= @postmodernism.year %>
</p>

<p>
  <strong>More:</strong>
  <%= @postmodernism.more %>
</p>

<%= link_to 'Edit', edit_postmodernism_path(@postmodernism) %> |
<%= link_to "Back", reading_list_path %>


</div>
  </div>
