<h5>GODLY LIVING - GENERAL </h5>
<%= link_to 'New Book', new_general_path %>
<table class="horizontal_table" style="width: 100%; height: 10px;" border="0">
  <thead>
    <tr>
      <th width="38%">Title</th>
      <th width="25%">Author</th>
      <th width="15%">Publisher</th>
      <th width="10%">Year</th>
      <th width="10%">More</th>
       <th width="2%"></th>
      </tr>
  </thead>


  <tbody>
    <% @generals.each do |general| %>
      <tr>
        <td width="38%"><%= general.title %></td>
        <td width="25%"><%= general.author %></td>
        <td width="15%" ><%= general.publisher %></td>
        <td width="10%"><%= general.year %></td>
         <td width="10%"><%= link_to 'Show', general %></td>
         <td width="2%"><%= link_to 'X', general, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



