 <footer class="row">
      <hr />
      <div class="row">
        <div class="large-3 columns">
          <p><small>Copyright © 2006 -2014 Benoni Bible Church<br/>
149 President Brandt Street, Benoni 1501<br/>
Republic of South Africa<br/>
Tel: 072-340-9672<br/>
Email: Benoni Bible Church<br/>
      
  </small></p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
             <li><%= link_to "Home", home_path %></li>
       <li><%= link_to "About Us", about_path %></li>
     <li><%=  link_to "Ministries", ministries_path %></li>
     <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Outreach", outreach_path %></li>
     <li><%= link_to "Resources", resources_path %></li>
      <li><%= link_to "Directions", directions_path %></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
  