<div class="row">     
   <div class="large-9 push-3 columns" >
<%= form_for(@apologetic) do |f| %>
 
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
     <h3> New Book </h3>
    
Title:   <%= f.text_field :title %>  
Author:  <%= f.text_field :author %>
Publisher: <%= f.text_field :publisher %>
Year:  <%= f.number_field :year %>
More: <%= f.text_area :more %>
  </div>
  <div class="actions">
    <%= f.submit "New Book" %>
  </div>
<% end %>
<%= link_to "Back", reading_list_path %>
     </div>
 </div>