<div class="row">     
   <div class="large-9 push-3 columns" >
 

<p>
  <strong>Title:</strong>
  <%= @apologetic.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @apologetic.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @apologetic.publisher %>
</p>

<p>
  <strong>Year:</strong>
  <%= @apologetic.year %>
</p>

<p>
  <strong>More:</strong>
  <%= @apologetic.more %>
</p>

<%= link_to 'Edit', edit_apologetic_path(@apologetic) %> |
<%= link_to "Back", reading_list_path %>

</div>
  </div>
